<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Random</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>

  <body>
    <div class="main-container">
      <div class="header">
        <img inline src="assets/logo.svg" />
      </div>
      <div class="container">
        <div class="container-inner" id="initial">
          <div class="text-top">
            <div class="text-large" id="some-text">{{ placeholder }}</div>
            <form class="form form-log-in" id="form">
              <button id="log-in-button">
                <div class="normal">Click me!</div>
              </button>
            </form>
          </div>
        </div>
        <div class="container-inner" id="success">
          <div class="text-top">
            <div class="text-large">So you know how to click.</div>
            <div class="text-normal download">This is cool.</div>
            <form class="form form-download" id="form-back">
              <button id="go-back-button">
                <div class="normal">Go back</div>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
